*{
   margin: 0; 
   box-sizing: border-box;
  text-decoration: none;
} 
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 1.765;
  color: #7a7a7a;
  font-family: "Poppins";
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  border-bottom: 3px solid rgb(184, 133, 142);
  /* position: fixed; */
  width: 1600px;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s !important;
  background-color: white;
}
.select{
  height: 50px;
  border: none;
  font-size: 15px;
  font-weight: 800;
  width: 170px;
  color: #131a33;
}
.select2{
  height: 50px;
  border: none;
  font-size: 15px;
  font-weight: 800;
  width: 159px;
  color: #131a33;
}
.logo{
  display: flex;
  justify-content: space-between;
  width: 205px;
  height: 56px;
  align-items: center;
  background:none;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  color: #131a33;
  background: none;
}


.menu .active{
  color: inherit;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
.menu .nav-link{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 800;
  color: #131a33;
}


.slide1 h1{
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
}
.slide1 p{
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.view{
  margin-left: 20px;
  padding: 12px 60px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.5s;
  border: 1px solid rgba(34, 34, 34, 0.462);
  box-shadow: 0 0 10px #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 17px !important;
  display: -webkit-inline-box;
  background: white;
}
.views{
  margin-left: 420px;
  padding: 12px 60px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.5s;
  border: 1px solid rgba(34, 34, 34, 0.462);
  box-shadow: 0 0 10px #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 17px !important;
  display: -webkit-inline-box;
  background: white;
}
.slide1{
  margin-top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin-left: 220px;
}
.view-div{
  margin-top: 60px;
}

.slide2 h1{
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
 
}
.slide2{
  text-align: center;
  margin-top: 120px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.slide2 p{
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin-top: 30px;
}

.lala{
  width: 298px;
  color: #131a33;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0px;
}
.lala h1{
  font-size: 35px ;
  color: goldenrod;
}
.lala h4{
  font-size: 15px;
  width: 290px;
  height: 45px;
  color: grey;
}
.lala img{
  height: 220px;
  width: 280px;
}

.wewe{
  font-family: Arial, Helvetica, sans-serif;
}

.lala button{
  margin-left: 20px;
  padding: 12px 60px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.5s;
  border: 1px solid rgba(34, 34, 34, 0.462);
  box-shadow: 0 0 10px #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 20px;
}

.view:hover{
  background: black;
  color: white;
  transition: 0.5s;
}

.all{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
}
.wewe .menu-template{
  text-align: center;
  margin: 30px;
  font-size: 50px;
  color:grey;
}

.btn-menu{
  font-size: 32px;
  color: #fea400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  transition: 0.3s;
  margin: 0 auto;
}

.btn-menu:hover{
  color: #222;
  font-size: 29px;
  transition: 0.3s;
}

.chefs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  padding: 120px 0px;
  cursor: context-menu;

}

.chefs img{
  border-radius: 45px;
  height: auto;
  width: auto;
}

.chefs h1{
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chefs h2{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chefs p{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef{
  border-radius: 14px;
}

.chefs img{
display: flex;
align-items: center;
justify-content: center;
margin-left: 29px;
}

.chef NavLink{
  color: black;
}
.for{
  background-image: url(https://jthemes.net/themes/html/fodige/assets/img/slider/s1.jpg);
  background-size: cover;
  height: 800px;
}
.imgbrd{
  background-image: url(./menu/brd1.jpg);
  background-size:cover;
  background-position: center center;
  line-height: 1.965;
  border-bottom: 1px solid rgb(184, 133, 142);
  height: 430px;
  padding: 5px 130px;
}

.imgbrd h1{
  background: none;
  color: #131a33;
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 25px;
}
.imgbrd h2{
  background: none;
  font-size: 25px;
  font-weight: 100;
}

.buy h1{
  color: rebeccapurple;
}

.table{
  color: inherit;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.table-img{
  background-image: url(./menu/brd1.jpg);
  background-size:cover;
  background-position: center center;
  line-height: 1.965;
  border-bottom: 1px solid rgb(184, 133, 142);
  height: 430px;
  margin-top: 50px;
}

.dad-table h1{
  background: none;
    padding-bottom: 25px;
    margin: 0;
    font-family: "Playfair Display";
    color: #131a33;
    font-size: 120px;
    font-weight: 700;
    padding-bottom: 25px;
    margin-left: 180px;
}
.dad-table h2{
  background: none;
  font-size: 20px;
  margin-left: 180px;
  margin-bottom: 50px;
}

.free{
  height: 900px;
  width: 899px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
  margin-top: 80px;
  box-shadow: 0 0 10px #22222220;
}

.mom h4{
  color: #121850;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0;
    font-family: "Playfair Display";
    margin-right: 220px;
    margin-bottom: 630px;
}

.dip input{
  border: none;
  width: 80%;
  color: #121850;
  flex-wrap: wrap;
}

h3{
  color: #131a33;
  font-size: 30px;
  font-weight: 700;
  font-family: "Playfair Display";
}

.dip{
  display: flex;
}

.block {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #00000050;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.4s ;
}

.blockOn{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #00000050;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0%);
  transition: 0.4s ;
  text-align: center  ;
}
.buy-setting h1{
  font-size: 30px;
  margin-top: 10px;
  color: grey;
  text-align: center;
  margin-top: 20px;
}
.buy-setting select{
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
  .buy-setting{
    padding: 20px 30px;
  }
  .buy-setting input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
  }
  .fix button{
    padding: 20px 60px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
    margin: 12px 16px;
    background-color: black;
    color: white;
  }
.mood{
  color: #222;
  padding: 0px 11px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.most-popular div h1{
  color: #121850;
  margin-left: 178px;
}
.most-popular div p{
  font-weight: 100;
  color: grey;
  margin-left: 178px;
}
.images .img1{
  width: 300px;
  height: 210px;
}
.img1 h2{
  float: inline-start;
  font-family: "Playfair Display";
}

.images .img2{
  width: 570px;
  height: 430px;
}
.images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 178px;
}


.most-popular{
  padding: 0 3px;
  float: inline-start;
}

*, ::after, ::before {
  box-sizing: border-box;
}
 span {
  font-size: 16px;
  margin-right: 15px;
}

.xop{
  display: flex;
}

.xop h3{
  color: #fea400;
  font-size: 16px;
  justify-content: space-around;
}
@media only screen and (max-width:400px){
  .navbar{
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    border-bottom: 3px solid rgb(184, 133, 142);
    position: fixed;
    width: 400px;
    top: 0;
    left: 0;
    right: 0;
    transition: 1s !important;
    background-color: #131a33;
  }
  .menu .nav-link{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    background: none;
  }
  .menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    color: #131a33;
    background: none;
  }
  .view{
    margin-left: 10px;
    padding: 6px 30px;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.5s;
    border: 1px solid rgba(34, 34, 34, 0.462);
    box-shadow: 0 0 10px #222;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 17px !important;
    display: -webkit-inline-box;
  }
  .slide1 h1{
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
    color: #131a33;
    margin-left: 8px;
  }
  .slide1 p{
    font-size: 15px;
    color: #131a33;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }
  .slide1{
    text-align: center;
    width: 400px;
    margin-top: 170px;
  }
  .for img{
    width: 400px;
  }
  .slide2 h1{
    font-size: 35px;
    font-weight: 700;
    color: #131a33;
   
  }
  .slide2 p{
    font-size: 15px;
    color: #131a33;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-top: 30px;
  }
.lala{
  width: 180px;
  color: #131a33;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}
.lala h1{
  font-size: 17px ;
  color: goldenrod;
}
.lala h4{
  font-size: 10px;
  width: 140px;
  height: 25px;
  color: grey;
}
.lala img{
  height: 150px;
  width: 140px;
}
.lala button{
  margin-left: 20px;
  padding: 6px 30px;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.5s;
  border: 1px solid rgba(34, 34, 34, 0.462);
  box-shadow: 0 0 10px #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 20px;
}
.all{
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wewe .menu-template{
  text-align: center;
  margin: 30px;
  font-size: 25px;
  color:grey;
}
.imgbrd h1{
  display: flex;
  background: none;
  color: #131a33;
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    margin-top: 120px;
    height: 100px;
    position: absolute;
}
.imgbrd h2{
  background: none;
  font-size: 15px;
  font-weight: 100;
}.chefs{
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.chef{
  margin-right: 18px;
}
.chefs h1{
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.chefs h2{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.chefs p{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.chefs img{
  width: 150px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 29px;
  }
  .mood{
    color: #222;
    padding: 0px 11px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.div{
    top: 0;
    left: 0;
    content: ""; 
    height: 800px;
    width: 370px;
    background-color: #f8bf64;;
    background-image: url("https://jthemes.net/themes/html/fodige/assets/img/about/abi.png");
  }

.every .happy{
  background-image: url("https://jthemes.net/themes/html/fodige/assets/img/about/ab1.jpg");
  height: 422px;
  width: 529px;
  margin-top: 150px;
  margin-left: 370px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
}

.div .nana{
  background-image: url("https://jthemes.net/themes/html/fodige/assets/img/about/ab2.png");
  height: 953;
  width: 270px;
  align-items: center;
}