*{
   margin: 0; 
   /* padding: 5px 20px;  */
   box-sizing: border-box;
  text-decoration: none;
  background-color: rgb(255, 252, 252);
} 
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 1.765;
  color: #7a7a7a;
  font-family: "Poppins";
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(184, 133, 142);
}
.select{
  height: 50px;
  border: none;
  font-size: 15px;
  font-weight: 800;
  width: 170px;
  color: #131a33;
}
.select2{
  height: 50px;
  border: none;
  font-size: 15px;
  font-weight: 800;
  width: 159px;
  color: #131a33;
}
.logo{
  display: flex;
  justify-content: space-between;
  width: 205px;
  height: 56px;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  color: #131a33;
}
.menu .active{
  color: red;
  font-weight: 800;
  border-bottom: 2px solid blue;
}
.menu .nav-link{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 800;
  color: #131a33;
}

.slide1 h1{
  font-size: 70px;
  font-weight: 700;
  color: #131a33;
}
.slide1 p{
  font-size: 25px;
  color: #131a33;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.view{
  margin-top: 20px;
  border: 1px solid #f8bf64;
  padding: 18px 40px;
  color: White;
  font-size: 20px;
  font-weight: 800;
  background-color: #f8bf64;
  border-radius: 3px;
}
.slide1{
  margin-top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.view-div{
  margin-top: 60px;
}

.slide2 h1{
  font-size: 70px;
  font-weight: 700;
  color: #131a33;
 
}
.slide2{
  text-align: center;
  margin-top: 120px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.slide2 p{
  font-size: 20px;
  color: #131a33;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin-top: 30px;
}

.lala{
  width: 298px;
  color: #131a33;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px;
}

.lala img{
  height: 220px;
  width: 280px;
}

.wewe{
  font-family: Arial, Helvetica, sans-serif;
}

.lala button{
  margin-left: 20px;
  padding: 12px 60px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.5s;
  border: 1px solid rgba(34, 34, 34, 0.462);
  box-shadow: 0 0 10px #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 20px;
}

.lala button:hover{
  background: black;
  color: white;
  transition: 0.5s;
}

.all{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
}
.wewe .menu-template{
  text-align: center;
  margin: 30px;
  font-size: 50px;
  color:grey;
}

.btn-menu{
  font-size: 32px;
  color: #fea400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

.btn-menu:hover{
  color: #222;
  font-size: 29px;
  transition: 0.6s;
}

.chefs{
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 220px; */
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  padding: 120px 0px;
}

.chefs img{
  border-radius: 45px;
  height: auto;
  width: auto;
}

.chefs h1{
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chefs h2{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chefs p{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chefs h1:hover{
  color: aliceblue;
  font-size: 35px;
  transition: 0.7s;
}
.chefs h2:hover{
  color: aliceblue;
  font-size: 23px;
  transition: 0.7s;
}
.chefs p:hover{
  color: aliceblue;
  font-size: 23px;
  transition: 0.7s;
}

.chef{
  /* box-shadow: 0 0 10px #22222220; */
  border-radius: 14px;
}

.chefs img{
display: flex;
align-items: center;
justify-content: center;
margin-left: 29px;
}

.imgbrd{
  background-image: url(./menu/brd1.jpg);
  background-size:cover;
  background-position: center center;
  line-height: 1.965;
  border-bottom: 1px solid rgb(184, 133, 142);
}

.imgbrd h1{
  background: none;
  color: #131a33;
    font-size: 120px;
    font-weight: 700;
    padding-bottom: 25px;
}
.imgbrd h2{
  background: none;
  font-size: 26px;
}

