*{
  margin: 0;
  padding: 5px 20px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: aqua;
}
.navbar{
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.select{
  height: 50px;
  border: none;
  font-size: 15px;
  font-weight: 800;
  width: 120px;
}
.select2{
  height: 50px;
  border: none;
  font-size: 15px;
  font-weight: 800;
  width: 70px;
}
.logo{
  display: flex;
  justify-content: space-between;
  width: 205px;
  height: 56px;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}


